@charset "ISO-8859-1";
.baskerville {
	font-family: 'Libre Baskerville', serif;
}

.color-1 {
	background-color: #190933!important;
}
.color-1-text {
	color: #190933!important;
}
.color-1-text-hover:hover {
	color: #190933!important;
}
.color-1-hover:hover {
	background-color: #190933!important;
}
.color-1-border {
	border-color: #190933!important;
}

.color-2 {
	background-color: #DCEED1!important;
}
.color-2-text {
	color: #DCEED1!important;
}
.color-2-text-hover:hover {
	color: #DCEED1!important;
}
.color-2-hover:hover {
	background-color: #DCEED1!important;
}


.color-3 {
	background-color: #E0DFD5!important;
}
.color-3-text {
	color: #E0DFD5!important;
}
.color-3-text-hover:hover {
	color: #E0DFD5!important;
}
.color-3-hover:hover {
	background-color: #E0DFD5!important;
}

.color-4 {
	background-color: #667761!important;
}
.color-4-text {
	color: #667761!important;
}
.color-4-text-hover:hover {
	color: #667761!important;
}
.color-4-hover:hover {
	background-color: #667761!important;
}
.color-4-border {
	border-color: #667761!important;
	border-bottom-color: #667761!important;
}

.color-5 {
	background-color: #545E56!important;
}
.color-5-text {
	color: #545E56!important;
}
.color-5-text-hover:hover {
	color: #545E56!important;
}
.color-5-hover:hover {
	background-color: #545E56!important;
}

.color-6 {
	background-color: #E7BCBC!important;
}
.color-6-text {
	color: #E7BCBC!important;
}
.color-6-text-hover:hover {
	color: #E7BCBC!important;
}
.color-6-hover:hover {
	background-color:  #E7BCBC!important;
}

.color-7 {
	background-color: #E7D6BC!important;
}
.color-7-text {
	color: #E7D6BC!important;
}
.color-7-text-hover:hover {
	color: #E7D6BC!important;
}
.color-7-hover:hover {
	background-color:  #E7D6BC!important;
}

.color-8 {
	background-color: #BCBEE7!important;
}
.color-8-text {
	color: #BCBEE7!important;
}
.color-8-text-hover:hover {
	color: #BCBEE7!important;
}
.color-8-hover:hover {
	background-color:  #BCBEE7!important;
}

.header-border {
	border-bottom: 5px solid #190933;
}
.footer-border {
	border-top: 5px solid #190933;
}

.newsbox::-webkit-scrollbar {
	display: none;
}

.slideshow-height {
	height: 500px;
}

#slideshowImage1 {
	background-image: url('https://images.unsplash.com/photo-1587213811864-46e59f6873b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#slideshowImage2 {
	background-image: url('https://images.unsplash.com/photo-1557127275-f8b5ba93e24e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#slideshowImage3 {
	background-image: url('https://images.unsplash.com/photo-1534009502677-4e5080efa8c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}
#slideshowImage4 {
	background-image: url('https://images.unsplash.com/photo-1631048835388-46642de1582e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.locationdefault {
	background-image: url('../images/locationdefault.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 400px;
}

.kingbed {
	background-image: url('../images/kingbed.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.doublebed {
	background-image: url('../images/doublebed.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.queenbed {
	background-image: url('../images/queenbed.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.singlebed {
	background-image: url('../images/singlebed.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#modalLayer {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,.6);
	z-index: 10000;
	pointer-events: auto;
	opacity: 1;
	transition: opacity .3s;
}

.tinyscroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.tinyscroll::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
.tinyscroll::-webkit-scrollbar-thumb {
	background: #545e56;
	border: 0px none #ffffff;
	border-radius: 50px;
}
.tinyscroll::-webkit-scrollbar-thumb:hover {
	background: #ffffff;
}
.tinyscroll::-webkit-scrollbar-thumb:active {
	background: #000000;
}
.tinyscroll::-webkit-scrollbar-track {
	background: #e0dfd5;
	border: 0px none #ffffff;
	border-radius: 0px;
}
.tinyscroll::-webkit-scrollbar-track:hover {
	background: #5c7f6a;
}
.tinyscroll::-webkit-scrollbar-track:active {
	background: #ffffff;
}
.tinyscroll::-webkit-scrollbar-corner {
	background: transparent;
}


/* Bootstrap */
.accordion-button {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 1rem 1.25rem;
	font-size: 1rem;
	text-align: left;
	border: 1px black solid;
	border-radius: 0;
	overflow-anchor: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}
@media (prefers-reduced-motion: reduce) {
	.accordion-button {
		transition: none;
	}
}
.accordion-button:not(.collapsed) {
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}
.accordion-button:not(.collapsed)::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	transform: rotate(-180deg);
	border-radius: 10px;
	background-color: white;
}
.accordion-button::after {
	flex-shrink: 0;
	width: 1.25rem;
	height: 1.25rem;
	margin-left: auto;
	content: "";
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	transition: transform 0.2s ease-in-out;
	border-radius: 10px;
	background-color: white;
	border: black solid 1px;
}
@media (prefers-reduced-motion: reduce) {
	.accordion-button::after {
		transition: none;
	}
}
.accordion-button:hover {
	z-index: 2;
}
.accordion-button:focus {
	z-index: 3;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.accordion-header {
	margin-bottom: 0;
}
.collapse:not(.show) {
	display: none;
}
.collapse:where(.show) {
	visibility: inherit!important;
}
.collapsing {
	height: 0;
	overflow: hidden;
	transition: height 0.35s ease;
}
@media (prefers-reduced-motion: reduce) {
	.collapsing {
		transition: none;
	}
}
.collapsing.collapse-horizontal {
	width: 0;
	height: auto;
	transition: width 0.35s ease;
}
@media (prefers-reduced-motion: reduce) {
	.collapsing.collapse-horizontal {
		transition: none;
	}
}